body,
head {
    margin: 0;
    padding: 0;
}

.bic {
    width: 290px;
    height: 230px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-animation: wobble 10s .2s infinite;
    -moz-animation: wobble 10s .2s infinite;
}

@-webkit-keyframes wobble {
    0% {
        -webkit-transform: translateX(0%)
    }
    15% {
        -webkit-transform: translateX(-25%) rotate(-5deg)
    }
    30% {
        -webkit-transform: translateX(20%) rotate(3deg)
    }
    45% {
        -webkit-transform: translateX(-15%) rotate(-3deg)
    }
    60% {
        -webkit-transform: translateX(10%) rotate(2deg)
    }
    75% {
        -webkit-transform: translateX(-5%) rotate(-1deg)
    }
    100% {
        -webkit-transform: translateX(0%)
    }
}

@-moz-keyframes wobble {
    0% {
        -moz-transform: translateX(0%)
    }
    15% {
        -moz-transform: translateX(-25%) rotate(-5deg)
    }
    30% {
        -moz-transform: translateX(20%) rotate(3deg)
    }
    45% {
        -moz-transform: translateX(-15%) rotate(-3deg)
    }
    60% {
        -moz-transform: translateX(10%) rotate(2deg)
    }
    75% {
        -moz-transform: translateX(-5%) rotate(-1deg)
    }
    100% {
        -moz-transform: translateX(0%)
    }
}
/*这是头的第一层*/
.b-cd {
    width: 230px;
    height: 94px;
    background: #b5dd84;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 5px 47px;
    border-bottom-right-radius: 5px 47px;
    margin: 0 auto;
    z-index: 1;
    position: relative;
    overflow: hidden;
}
/*这是头的第二层*/
.b-cd:after {
    background: #73a874;
    z-index: 1;
    display: block;
    position: absolute;
    top: 10px;
    left: 5px;
    width: 220px;
    height: 84px;
    content: "";
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    border-bottom-left-radius: 5px 68px;
    border-bottom-right-radius: 5px 68px;
}
/*这是头的第三层*/
.b-cd:before {
    display: block;
    background-color: #96CD87;
    content: "";
    width: 210px;
    height: 80px;
    position: absolute;
    top: 15px;
    left: 10px;
    z-index: 2;
    border-top-left-radius: 117px;
    border-top-right-radius: 117px;
    border-bottom-left-radius: 5px 68px;
    border-bottom-right-radius: 5px 68px;
}
/*这是眼睛*/
.eyes {
    width: 212px;
    height: 60px;
    z-index: 4;
    position: absolute;
    top: 40px;
    left: 9px;
}

.eyes:after {
    width: 110px;
    height: 65px;
    content: "";
    background-color: #fffcff;
    display: block;
    top: -12px;
    left: 0;
    position: absolute;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top: 3px solid #000;
    transform: rotate(-10deg);
}

.eyes:before {
    width: 110px;
    height: 65px;
    content: "";
    background-color: #fffcff;
    display: block;
    top: -12px;
    right: 0;
    position: absolute;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top: 3px solid #000;
    transform: rotate(10deg);
}

i {
    width: 30px;
    height: 30px;
    background: #000;
    z-index: 10;
    display: block;
    position: absolute;
    border-radius: 15px;
    -webkit-animation: wobble 1s 1s infinite;
    -moz-animation: wobble 1s 1s infinite;
}

@-webkit-keyframes wobble {
    0% {
        -webkit-transform: translateX(0%)
    }
    15% {
        -webkit-transform: translateX(-25%) rotate(-5deg)
    }
    30% {
        -webkit-transform: translateX(20%) rotate(3deg)
    }
    45% {
        -webkit-transform: translateX(-15%) rotate(-3deg)
    }
    60% {
        -webkit-transform: translateX(10%) rotate(2deg)
    }
    75% {
        -webkit-transform: translateX(-5%) rotate(-1deg)
    }
    100% {
        -webkit-transform: translateX(0%)
    }
}

@-moz-keyframes wobble {
    0% {
        -moz-transform: translateX(0%)
    }
    15% {
        -moz-transform: translateX(-25%) rotate(-5deg)
    }
    30% {
        -moz-transform: translateX(20%) rotate(3deg)
    }
    45% {
        -moz-transform: translateX(-15%) rotate(-3deg)
    }
    60% {
        -moz-transform: translateX(10%) rotate(2deg)
    }
    75% {
        -moz-transform: translateX(-5%) rotate(-1deg)
    }
    100% {
        -moz-transform: translateX(0%)
    }
}
/*这是左眼*/
.le {
    left: 50px;
    top: 7px;
}
/*这是右眼*/
.re {
    right: 50px;
    top: 10px;
}

.le:before,
.re:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: #fff;
    top: 18px;
    left: 3px;
    display: block;
}
/*这是身体*/
.b-mo {
    width: 290px;
    height: 89px;
    padding-top: 1px;
    position: relative;
    z-index: 2;
    background: #B5DD84;
    border-top-left-radius: 90px 70px;
    border-top-right-radius: 90px 70px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    margin-top: -6px;
}
/*这是身体上面部分*/
.b-mo:after {
    width: 270px;
    height: 80px;
    background-color: #B5DD84;
    content: "";
    border-radius: 145px/40px;
    position: absolute;
    top: -8px;
    left: 10px;
}
/*这是身体下面部分*/
.b-mo:before {
    width: 270px;
    height: 80px;
    background-color: #B5DD84;
    content: "";
    border-radius: 145px/40px;
    position: absolute;
    bottom: -10px;
    left: 10px;
}
/*这是嘴巴*/
.mouth {
    width: 180px;
    height: 60px;
    background-color: #000;
    z-index: 10;
    position: relative;
    border-radius: 30px 30px 90px 90px;
    margin: 16px auto;
    border: 3px solid #7fb083;
    overflow: hidden;
}
/*这是舌头*/
.tong {
    width: 115px;
    height: 50px;
    background-color: #DE5A5A;
    position: absolute;
    z-index: 10;
    border-radius: 30px 30px 90px 90px;
    bottom: -45px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
}
